altgraph==0.17
asgiref==3.3.1
boto3==1.14.20
botocore==1.17.20
Brotli==1.0.9
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
dash==1.14.0
dash-auth==1.3.2
dash-bootstrap-components==0.10.2
dash-core-components==1.10.2
dash-daq==0.5.0
dash-html-components==1.0.3
dash-leaflet==0.0.19
dash-renderer==1.6.0
dash-table==4.9.0
dcc==0.1.0
docutils==0.15.2
ecdsa==0.17.0
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Compress==1.5.0
Flask-Login==0.5.0
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==2.4.3
future==0.18.2
greenlet==1.1.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
numpy==1.21.3
pandas==1.3.4
pbkdf2==1.3
pdfkit==0.6.1
pefile==2019.4.18
pip==21.2.3
plotly==4.8.1
psycopg2==2.9.1
PyInstaller==3.5
PyJWT==1.7.1
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.24.0
retrying==1.3.3
s3transfer==0.3.3
setuptools==57.4.0
six==1.15.0
SQLAlchemy==1.3.17
starkbank-ecdsa==1.0.0
tenacity==8.0.1
twilio==6.46.0
ua-parser==0.10.0
urllib3==1.25.9
Werkzeug==1.0.1
XlsxWriter==1.2.9
